{% extends base_template %}

{% load i18n %}

{% block title %} - {{ title }}{% endblock title %}

{% block content %}

    {% include 'utils/messages.html' %}
    <div class="panel panel-default" style="margin-top: 20px;">
        <div class="panel-heading">
            <h3 class="panel-title">{{ title }}</h3>
        </div>
        <div class="panel-body">
            <p>
                {% trans 'Your password was changed.' %}
            </p>
            <p>
                <a href="/" class="btn btn-default">
                    <span class="glyphicon glyphicon-globe"
                        aria-hidden="true"
                        ></span>
                    {% trans 'Done' %}
                </a>
            </p>
        </div>
    </div>

{% endblock content%}
