{% extends "base.html" %}

{% block content %}

    {% include 'utils/snippets/messages.html' %}
    <div class="panel panel-default" style="margin-top: 20px;">
        <div class="panel-heading">
            <h3 class="panel-title">User</h3>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>
                    Username:
                </dt>
                <dd>
                    {{ object.get_username }}
                </dd>
                <dt>
                    Full name:
                </dt>
                <dd>
                    {{ object.get_full_name }}
                </dd>
                <dt>
                    Email:
                </dt>
                <dd>
                    {{ object.email }}
                </dd>
                <dt>
                    Last login:
                </dt>
                <dd>
                    {{ object.last_login }}
                </dd>
                <dt>
                    Date joined:
                </dt>
                <dd>
                    {{ object.date_joined }}
                </dd>
            </dl>
        </div>
        <div class="panel-footer">
            <a href="{% url 'accounts:password_change' %}" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                Change password
            </a>
        </div>
    </div>

{% endblock %}
